html{
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: #090909;
    color: #fff;
    font-family: "Poppins", sans-serif;
    min-height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

button{
    font: inherit;
}

ul{
    list-style: none;
}

a{
    color: #fff;
    text-decoration: none;
}