.main-header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.0625rem;
    padding-top: 1.375rem;
    position: relative;

    .main-header__logo{
        font-family: "Abril fatface", serif;
        font-size: 1.875rem;
        letter-spacing: -.3em;
    }
}

.main-header__nav{
    .main-header__nav__menu{
        align-items: center;
        background-color: #090909;
        display: none;
        flex-direction: column;
        gap: 1.8125rem;
        left: 0;
        padding: 2em 0;
        position: absolute;
        top: 100%;
        width: 100%;
    }
}

.toggle-nav{
    background: none;
    border: none;
    cursor: pointer;
    height: 1.5rem;
    position: relative;
    width: 2rem;

    .toggle-nav__line{
        background-color: #fff;
        display: block;
        height: .125rem;
        width: 100%;

        &.top,
        &.bottom,
        &.middle{
            position: absolute;
        }

        &.top{
            top: 0;
        }

        &.middle{
            right: 0;
            transform: translateY(-50%);
            top: 50%;
            width: 50%;
        }

        &.bottom{
            bottom: 0;
        }


    }
}