.btn{
    border: none;
    border-radius: .5rem;
    padding: .5em .7em;
    cursor: pointer;

    &.btn-lg{
        font-size: 1.875rem;
        font-weight: 600;
    }
    
    &.btn--yellow{
        background-color: #F9B501;
        color: #fff;
    }
}

.text-btn{
    background: none;
    border: none;
    color: #F9B501;
    cursor: pointer;
    font-size: 1.125rem;
}

.container{
    margin: 0 auto;
    width: calc(100% - (2*1.75rem));
}